body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, p, blockquote, tr, th, td, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "PingFang-SC-Bold","Microsoft YaHei",Tahoma,Helvetica,Arial,sans-serif;
  color: #333; }

li {
  list-style: none; }

em, i, u {
  font-style: normal; }

input {
  outline: none;
  border: none;
  font-family: "PingFang-SC-Bold","Microsoft YaHei",Tahoma,Helvetica,Arial,sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

fieldset, img {
  border: 0; }

abbr {
  border: 0;
  font-variant: normal; }

a {
  text-decoration: none;
  color: inherit;
  *color: #999999; }

img {
  vertical-align: middle; }

img.cover {
  display: block;
  width: 100%;
  height: 100%; }

body {
  padding: 30px; }

.tag-title:before, .page-bot-num:before, .page-score-title .s-title:before {
  content: '-';
  padding-right: 10px; }

.tag-title:after, .page-bot-num:after, .page-score-title .s-title:after {
  content: '-';
  padding-left: 10px; }

/* page-box */
.page-box {
  width: 1160px;
  height: 1641px;
  box-shadow: 0 0 10px #b0b0b0;
  margin: 0 auto;
  position: relative; }

.page-top-tag {
  width: 140px;
  height: 200px;
  background: #7a181b;
  color: #fff;
  padding-top: 116px;
  margin-left: 424px;
  text-align: center; }
  .page-top-tag h1 {
    font-size: 60px; }

.page-bot-num {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
  color: #8d8d9e;
  font-size: 12px; }

/* page-head */
.page-head {
  height: 60px;
  padding-bottom: 19px;
  border-bottom: 1px solid #e7e7e7; }
  .page-head span {
    display: block;
    line-height: 40px;
    color: #363338; }
  .page-head span:first-child {
    float: left;
    padding-left: 56px;
    background: url("/static/images/logo.png") no-repeat;
    background-size: auto 100%; }
  .page-head span:last-child {
    float: right;
    color: #8d8d9e; }

.page-head-title {
  padding: 20px;
  color: #a5a5b3; }
  .page-head-title .pd-num {
    font-size: 70px;
    line-height: 90px;
    width: 142px;
    height: 90px;
    float: left;
    text-align: center;
    border-right: 1px solid #e7e7e7; }
  .page-head-title .pd-info {
    margin-left: 144px;
    padding: 0 22px;
    min-height: 88px; }
    .page-head-title .pd-info h1 {
      height: 40px;
      line-height: 40px;
      color: #363338;
      font-size: 22px; }
    .page-head-title .pd-info p {
      line-height: 25px; }
  .page-head-title .pd-info-mid h1 {
    height: 88px;
    line-height: 88px; }

/* page-part */
.page-score-title {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px; }
  .page-score-title span {
    margin-left: 20px;
    color: #a5a5b3; }
  .page-score-title .s-title {
    display: inline-block;
    vertical-align: bottom;
    color: #6b6b7e; }

.page-footer-tips {
  margin-top: 20px;
  padding: 24px 32px;
  position: relative;
  border: 1px solid #e7e7e7; }
  .page-footer-tips .tips-name {
    display: block;
    position: absolute;
    top: 0;
    left: 32px;
    color: #fff;
    line-height: 40px;
    text-align: center; }
  .page-footer-tips .tips-detail {
    padding-top: 35px;
    color: #6b6b7e; }

/* icon sprites */
.bg-biao {
  width: 22px;
  height: 28px;
  background: url("/static/images/icon-sprites.png") -70px -74px; }

.bg-close-red {
  width: 6px;
  height: 6px;
  background: url("/static/images/icon-sprites.png") -10px -134px; }

.bg-close-blue {
  width: 6px;
  height: 6px;
  background: url("/static/images/icon-sprites.png") -36px -134px; }

.bg-radio-blue {
  width: 18px;
  height: 18px;
  background: url("/static/images/icon-sprites.png") -112px -74px; }

.bg-radio-red {
  width: 18px;
  height: 18px;
  background: url("/static/images/icon-sprites.png") -150px -74px; }

.bg-log-sml {
  width: 40px;
  height: 40px;
  background: url("/static/images/icon-sprites.png") -10px -74px; }

.bg-title-64 {
  width: 64px;
  height: 44px;
  background: url("/static/images/icon-sprites.png") -104px -10px; }

.bg-title-74 {
  width: 74px;
  height: 44px;
  background: url("/static/images/icon-sprites.png") -10px -10px; }

/* table */
.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center; }
  .table th {
    padding: 10px;
    line-height: 20px;
    background-color: #7a181b;
    color: #fff; }
  .table td {
    padding: 10px;
    line-height: 20px;
    border: 1px solid #e7e7e7;
    color: #6b6b7e; }
  .table td[rowspan="2"] {
    height: 60px; }
  .table .th-sub td {
    color: #363338;
    font-size: 13px;
    padding: 5px; }
  .table .td-trow {
    height: 80px; }

/* navs */
ul.navs {
  font-size: 0;
  padding-bottom: 50px;
  text-align: center; }
  ul.navs li {
    display: inline-block;
    vertical-align: baseline;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    color: #363338;
    font-size: 16px; }
  ul.navs a {
    display: block; }
    ul.navs a:hover {
      color: #7a181b;
      text-decoration: underline; }
    ul.navs a:visited {
      color: #a5a5b3; }
