<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="acc-报告" />
  <meta name="description" content="acc-报告展示" />
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=1">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>acc-report</title>
  <link rel="stylesheet" type="text/css" href="/static/css/common.css">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <!-- 标题 -->
  <div class="bd-header">
    <h1 class="bd-title">ACC 报告</h1>
    <a class="bd-href" href="sch-rep.html">学校报告</a>
    <h3 class="bd-sub-title" id="bd-sub-title"></h3>
    <div class="sub-t-btn" id="sub-t-btn">目录</div>
  </div>
  <!-- 导航 -->
  <div class="bd-navs" id="bd-navs">
  </div>
  <!-- 主题内容 -->
  <div class="bd-main" id="bd-main">
    <div class="bd-m-cont" id="bd-m-cont">
    </div>
  </div>

  <!-- templates  -->
  <!-- menus -->
  <script id="menus" type="text/html">
    <ul class="navs">
      <% for (var i =0; i < menus.length; i++) { %>
        <li class="navs-li" data-page="<%:=menus[i].page%>" data-name="<%:=menus[i].name%>">
          <span class="nav-name"><%:=menus[i].name%></span>

          <% if (menus[i].subs) { %>
            <% var subs = menus[i].subs %>
            <ul class="navs-sub">
            <% for (var j = 0; j < subs.length; j++) { %>
              <li class="navs-sub-li" data-page="<%:=subs[j].page%>" data-name="<%:=subs[j].name%>"><%:=subs[j].name%></li>
            <% } %>
            </ul>
          <% } %>
        </li>
      <% } %>
    </ul>
  </script>
  <!-- cover -->
  <script id="cover" type="text/html">
    <div class="page-box">
      <div class="cover-header">
        <div class="cover-logo">
          <img class="cover" src="/static/images/logo.png" alt="logo">
        </div>
        <p class="cover-nums"><%:=cover.reportNo%>（报告编号）</p>
      </div>
      <div class="cover-infos">
        <div class="infos-detail">
          <img src="/static/images/title.png" alt="title.png">
        </div>
      </div>
      <div class="cover-footer">
        <p class="ft-name"><%:=cover.username%></p>
        <p class="ft-school"><%:=cover.school%></p>
        <p class="ft-time"><%:=cover.createTime%></p>
      </div>
    </div>
  </script>
  <!-- catalog -->
  <script id="catalog" type="text/html">
    <div class="page-box">
      <div class="cat-back"></div>
      <div class="cat-title page-top-tag">
        <h1>目录</h1>
      </div>
      <div class="cat-list">
        <ul>
          <li>
            <span>前言</span>
            <span>01</span>
          </li>
          <li>
            <span>测评结果总体概览</span>
            <span>02</span>
          </li>
          <li>
            <span>语文评测结果分析</span>
            <span>03</span>
          </li>
          <li>
            <span>数学评测结果分析</span>
            <span>04</span>
          </li>
          <li>
            <span>英语评测结果分析</span>
            <span>05</span>
          </li>
          <li>
            <span>物理评测结果分析</span>
            <span>06</span>
          </li>
          <li>
            <span>化学评测结果分析</span>
            <span>07</span>
          </li>
        </ul>
      </div>
    </div>
  </script>
  <!-- introduction -->
  <script id="introduction" type="text/html">
    <div class="page-box">
      <div class="intr-title page-top-tag">
        <h1>前言</h1>
      </div>
      <div class="intr-detail">
        <p>核心能力测评（ACC，Assessment of Core Competencies）由北京大学教育学院发起，旨在满足高校人才培养与评价需求，指导高品质高中建设，探索符合中国国情的拔尖人才培养模式的大型教育实验研究项目。ACC项目组于2017年12月17日举行由全国21个省份高水平学生参加的学科测试，重点考察考生在问题情境下应用知识的水平及高阶思维能力。ACC项目组采用创新的命题思路，遵守严谨科学的命题流程，依托智能化考试平台施测，使用先进的教育测量学理论、方法与技术对考生进行评价分析，为学生学习与学校教学及教管部门管理提供反馈。</p>
        <h3>ACC项目测试科目包括：</h3>
        <p>1、基础能力测试（语文素养与应用、数学科学与探究、英语能力与思辨），测试时间共3小时；</p>
        <p>2、可选科目包括人文素养（历史、政治）和科学素养（物理、化学），学生2选1参加测试，测试时间2小时。</p>

        <h3>阅读本报告请注意以下事项：</h3>
        <p>1、测评分析基于考生作答数据，<span>题目难度、作答干扰、阅读速度、答题态度、心理与生理状态均会影响考生作答结果。因此，报告中的分析、建议等仅作参考，请客观、谨慎对待测评结果。</span></p>
        <p>2、各学科满分100分，总分500分。</p>

        <h3>个人报告内容包括：</h3>
        <p>1、学生测评结果整体情况（总成绩、各学科成绩以及相应的百分等级排名等）；</p>
        <p>2、学生各学科测评结果的详细剖析：</p>
        <ol>
          <li>&gt; 本学科重点知识掌握情况；</li>
          <li>&gt; 学科核心能力或素养的表现；</li>
          <li>&gt; 不同难度题目上的表现。</li>
        </ol>

        <h3>报告使用声明：</h3>
        <p>1、本报告内容属于个人隐私，请注意保密。</p>
        <p>2、本报告包含的内容（包括但不限于文本、数据、logo、图片等）的所有权受版权、商标及其他知识产权法的保护，归ACC项目组所有。未经ACC项目组书面许可，不得修改、复制、翻译、分发、公开、出售任何从报告中获取的信息、设计。</p>
        <p>3、更多有关信息请联系项目组，联系方式：QQ:2856384351；咨询电话15510538231。</p>
      </div>

      <div class="page-bot-num">01</div>
    </div>
  </script>
  <!-- overview -->
  <script id="overview" type="text/html">
    <div class="page-box score-box score-overview">
      <div class="page-head">
        <span>高中生发展与核心能力评测（ACC）</span>
        <span>核心能力评测（ACC）个人评价报告</span>
      </div>
      <% var user = overview.user %>
      <div class="page-user-info">
        <div class="user-avatar">
          <img src="http://utest-test.oss-cn-qingdao.aliyuncs.com/ff80818162d2471f0162d258bf790002/ff8081815f6ca04f015f76ddeb48502e/8afda6173d0841d6bc0d0b6aca68b2ed.jpg" alt="user avatar">
        </div>
        <div class="user-main">
          <h3 class="info-title tag-title">考生成绩</h3>
          <ul class="info-list">
            <li><span>姓名：<%:=user.name%></span></li>
            <li><span>准考证号：<%:=user.zkzh%></span></li>
            <li><span>学校：<%:=user.school%></span></li>
            <li><span>身份证号：<%:=user.idno%></span></li>
            <li><span>选考：<%:=user.choice%></span></li>
            <li><span>考试时间：<%:=user.examTime%></span></li>
          </ul>
        </div>
      </div>

      <% var score = overview.score %>
      <div class="user-score">
        <div class="page-score-title">
          <h3 class="s-title">考生成绩</h3>
          <span>（备注：如果考生有科目缺考，总分的百分比排名以及水平等级仅供参考）</span>
        </div>
        <div class="score-cont">
          <div class="sc-sums">
            <span class="bg-title-74">总成绩</span>
            <p><%:=score.sum%></p>
          </div>
          <div class="sc-num-detail">
            <div class="n-det-item">
              <span>总成绩超过：</span>
              <p class="det-item-num"><i><%:=score.exceedAll%></i>的全体考生</p>
              <p class="det-item-gress"><i style="width: <%:=score.exceedAll%>"></i></p>
            </div>
            <div class="n-det-item">
              <span>总成绩超过：</span>
              <p class="det-item-num"><i><%:=score.exceedArea%></i>的本省考生</p>
              <p class="det-item-gress"><i style="width: <%:=score.exceedArea%>"></i></p>
            </div>
          </div>
        </div>
        <div class="score-level">
          <% var level = overview.score.level %>
          <div class="level-items">
            <p class="level-name">总成绩在全体的水平</p>
            <div class="level-detail">
              <p class="level-num"><%:=level.all%></p>
              <p class="level-ruler"><span><i class="bg-biao" style="left: <%:=level.allGress%>"></i></span></p>
            </div>
          </div>
          <div class="level-items">
            <p class="level-name">总成绩在本省的水平</p>
            <div class="level-detail">
              <p class="level-num"><%:=level.area%></p>
              <p class="level-ruler"><span><i class="bg-biao" style="left: <%:=level.areaGress%>"></i></span></p>
            </div>
          </div>
        </div>
        <div class="score-level score-ave">
          <% var all = overview.score.all %>
          <div class="level-items">
            <p class="level-name">全体考生平均分</p>
            <div class="level-detail">
              <p class="level-num"><%:=all.ave%></p>
              <p class="level-cont">
                <span>全体考生有效人数：<i><%:=all.unum%></i></span><br>
                <span>全体考生的最高分：<%:=all.max%></span>
              </p>
            </div>
          </div>
          <% var area = overview.score.area %>
          <div class="level-items">
            <p class="level-name">本省考生平均分</p>
            <div class="level-detail">
              <p class="level-num"><%:=area.ave%></p>
              <p class="level-cont">
                <span>本省考生有效人数：<i><%:=area.unum%></i></span><br>
                <span>本省考生的最高分：<%:=area.max%></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <% var bases = overview.bases %>
      <div class="user-base">
        <div class="page-score-title">
          <h3 class="s-title">基础能力</h3>
        </div>
        <% for (var i = 0; i < bases.length; i++) {%>
        <% var item = bases[i] %>
        <div class="base-items">
          <ul>
            <li class="base-score">
              <p class="sc-name"><%:=item.subjectName%></p>
              <p class="sc-tips">分数 -</p>
              <p class="sc-num"><%:=item.score%></p>
            </li>
            <li class="base-all">
              <div class="base-chart base-chart-cont" echart-ratio="<%:=item.all.level%>">
                <p class="chart-tips">超过<i><%:=item.all.level%></i>全体考生</p>
              </div>
              <div class="base-infos">
                <p class="tag-title">全体概况</p>
                <p>有效人数：<%:=item.all.unum%>人</p>
                <p>平均分数：<%:=item.all.ave%></p>
                <p>最高分数：<%:=item.all.max%></p>
              </div>
            </li>
            <li class="base-area">
              <div class="base-chart">
                <p class="chart-tips">超过<i><%:=item.area.level%></i>本省考生</p>
                <span class="chart-pin" style="top: <%:=item.area.level%>"></span>
              </div>
              <div class="base-infos">
                <p class="tag-title">本省概况</p>
                <p>有效人数：<%:=item.area.unum%>人</p>
                <p>平均分数：<%:=item.area.ave%></p>
                <p>最高分数：<%:=item.area.max%></p>
              </div>
            </li>
          </ul>
        </div>
        <%}%>
      </div>

      <% var science = overview.science %>
      <div class="user-base">
        <div class="page-score-title">
          <h3 class="s-title">基础能力</h3>
        </div>
        <% for (var i = 0; i < science.length; i++) {%>
        <% var item = science[i] %>
        <div class="base-items">
          <ul>
            <li class="base-score">
              <p class="sc-name"><%:=item.subjectName%></p>
              <p class="sc-tips">分数 -</p>
              <p class="sc-num"><%:=item.score%></p>
            </li>
            <li class="base-all">
              <div class="base-chart base-chart-cont" echart-ratio="<%:=item.all.level%>">
                <p class="chart-tips">超过<i><%:=item.all.level%>%</i>全体考生</p>
              </div>
              <div class="base-infos">
                <p class="tag-title">全体概况</p>
                <p>有效人数：<%:=item.all.unum%>人</p>
                <p>平均分数：<%:=item.all.ave%></p>
                <p>最高分数：<%:=item.all.max%></p>
              </div>
            </li>
            <li class="base-area">
              <div class="base-chart">
                <p class="chart-tips">超过<i><%:=item.area.level%></i>本省考生</p>
                <span class="chart-pin" style="top: <%:=item.area.level%>"></span>
              </div>
              <div class="base-infos">
                <p class="tag-title">本省概况</p>
                <p>有效人数：<%:=item.area.unum%>人</p>
                <p>平均分数：<%:=item.area.ave%></p>
                <p>最高分数：<%:=item.area.max%></p>
              </div>
            </li>
          </ul>
        </div>
        <%}%>
      </div>

    </div>
  </script>

  <!-- category part one -->
  <script id="item-one" type="text/html">
    <div class="page-box score-box">
      <div class="page-head">
        <span>高中生发展与核心能力评测（ACC）</span>
        <span>核心能力评测（ACC）个人评价报告</span>
      </div>

      <% var header = items.header %>
      <div class="page-head-title">
        <p class="pd-num">01</p>
        <div class="pd-info">
          <h1><%:=header.title%></h1>
          <p><%:=header.description%></p>
        </div>
      </div>

      <% var all = items.all %>
      <div class="sitem-cont">
        <h3 class="cont-title tag-title">与全体考生比较</h3>
        <div class="sitem-tables">
          <div class="table-items">
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th colspan="7">考生知识模块答对率与全体考生的比较</th>
                </tr>
              </thead>
              <% var ddrTables = all.ddrTables %>
              <tbody>
                <tr class="th-sub">
                  <td rowspan="2">编号</td>
                  <td rowspan="2">知识模块</td>
                  <td rowspan="2">题数</td>
                  <td colspan="4">答对率</td>
                </tr>
                <tr class="th-sub">
                  <td>本人</td>
                  <td>平均</td>
                  <td>同水平</td>
                  <td>A等考生</td>
                </tr>
                <% for (var i = 0; i < ddrTables.length; i++) {%>
                <% var item = ddrTables[i] %>
                <tr>
                  <td><%:=item.no%></td>
                  <td><%:=item.name%></td>
                  <td><%:=item.topicNum%></td>
                  <td><%:=item.user%></td>
                  <td><%:=item.ave%></td>
                  <td><%:=item.equal%></td>
                  <td><%:=item.aLevel%></td>
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
          <div class="table-items">
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th colspan="3">考生知识模块得分率与全体考生的比较</th>
                </tr>
              </thead>
              <% var dfrTables = all.dfrTables %>
              <tbody>
                <tr class="th-twor">
                  <td rowspan="2"></td>
                  <td rowspan="2">掌握相对较好</td>
                  <td rowspan="2">有待加强</td>
                </tr>
                <tr></tr>
                <% for (var i = 0; i < dfrTables.length; i++) {%>
                <% var item = dfrTables[i] %>
                <tr>
                  <td><%:=item.name%></td>
                  <td><%:=item.good%></td>
                  <td><%:=item.weak%></td>
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="sitem-chart">
          <div class="chart-items" id="all-line-chart"></div>
          <div class="chart-items" id="all-bar-chart"></div>
        </div>
      </div>

      <% var area = items.area %>
      <div class="sitem-cont">
        <h3 class="cont-title tag-title">与本省考生比较</h3>
        <div class="sitem-tables">
          <div class="table-items">
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th colspan="7">考生知识模块答对率与全体考生的比较</th>
                </tr>
              </thead>
              <% var ddrTables = all.ddrTables %>
              <tbody>
                <tr class="th-sub">
                  <td rowspan="2">编号</td>
                  <td rowspan="2">知识模块</td>
                  <td rowspan="2">题数</td>
                  <td colspan="4">答对率</td>
                </tr>
                <tr class="th-sub">
                  <td>本人</td>
                  <td>平均</td>
                  <td>同水平</td>
                  <td>A等考生</td>
                </tr>
                <% for (var i = 0; i < ddrTables.length; i++) {%>
                <% var item = ddrTables[i] %>
                <tr>
                  <td><%:=item.no%></td>
                  <td><%:=item.name%></td>
                  <td><%:=item.topicNum%></td>
                  <td><%:=item.user%></td>
                  <td><%:=item.ave%></td>
                  <td><%:=item.equal%></td>
                  <td><%:=item.aLevel%></td>
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
          <div class="table-items">
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th colspan="3">考生知识模块得分率与全体考生的比较</th>
                </tr>
              </thead>
              <% var dfrTables = all.dfrTables %>
              <tbody>
                <tr class="th-twor">
                  <td rowspan="2"></td>
                  <td rowspan="2">掌握相对较好</td>
                  <td rowspan="2">有待加强</td>
                </tr>
                <tr></tr>
                <% for (var i = 0; i < dfrTables.length; i++) {%>
                <% var item = dfrTables[i] %>
                <tr>
                  <td><%:=item.name%></td>
                  <td><%:=item.good%></td>
                  <td><%:=item.weak%></td>
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="sitem-chart">
          <div class="chart-items" id="area-line-chart"></div>
          <div class="chart-items" id="area-bar-chart"></div>
        </div>
      </div>

      <div class="page-footer-tips">
        <span class="tips-name bg-title-64">备注</span>
        <div class="tips-detail">
          <p>同水平考生：相同百分比排名（百分等级）的考生群体；</p>
          <p>A等考生：排名前25%的考生群体；</p>
        </div>
      </div>

      <div class="page-bot-num">03/1</div>
    </div>
  </script>
  <!-- category part two -->
  <script id="item-two" type="text/html">
    <div class="page-box score-box">
      <div class="page-head">
        <span>高中生发展与核心能力评测（ACC）</span>
        <span>核心能力评测（ACC）个人评价报告</span>
      </div>

      <% var header = items.header %>
      <div class="page-head-title">
        <p class="pd-num">02</p>
        <div class="pd-info">
          <h1><%:=header.title%></h1>
          <p><%:=header.description%></p>
        </div>
      </div>

      <% var all = items.all %>
      <div class="sitem-cont">
        <h3 class="cont-title tag-title"><%:=items.tag%></h3>
        <div class="sitem-tables">
          <div class="table-items">
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th colspan="7">考生各能力（素养）模块答对率与全体考生的比较</th>
                </tr>
              </thead>
              <% var ddrTables = all.ddrTables %>
              <tbody>
                <tr class="th-sub">
                  <td rowspan="2">编号</td>
                  <td rowspan="2">知识模块</td>
                  <td rowspan="2">题数</td>
                  <td colspan="4">答对率</td>
                </tr>
                <tr class="th-sub">
                  <td>本人</td>
                  <td>平均</td>
                  <td>同水平</td>
                  <td>A等考生</td>
                </tr>
                <% for (var i = 0; i < ddrTables.length; i++) {%>
                <% var item = ddrTables[i] %>
                <tr>
                  <td><%:=item.no%></td>
                  <td><%:=item.name%></td>
                  <td><%:=item.topicNum%></td>
                  <td><%:=item.user%></td>
                  <td><%:=item.ave%></td>
                  <td><%:=item.equal%></td>
                  <td><%:=item.aLevel%></td>
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
          <div class="table-items">
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th colspan="3">考生知识模块得分率与全体考生的比较</th>
                </tr>
              </thead>
              <% var dfrTables = all.dfrTables %>
              <tbody>
                <tr>
                  <td rowspan="2"></td>
                  <td rowspan="2">掌握相对较好</td>
                  <td rowspan="2">有待加强</td>
                </tr>
                <tr></tr>
                <% for (var i = 0; i < dfrTables.length; i++) {%>
                <% var item = dfrTables[i] %>
                <tr class="td-trow">
                  <td><%:=item.name%></td>
                  <td><%:=item.good%></td>
                  <td><%:=item.weak%></td>
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="chart-line" id="all-line"></div>
        <div class="chart-bar" id="all-bar"></div>
      </div>

      <div class="page-footer-tips">
        <span class="tips-name bg-title-64">备注</span>
        <div class="tips-detail">
          <p>同水平考生：相同百分比排名（百分等级）的考生群体；</p>
          <p>A等考生：排名前25%的考生群体；</p>
        </div>
      </div>

      <div class="page-bot-num">03/2</div>
    </div>
  </script>
  <!-- category part four -->
  <script id="item-four" type="text/html">
    <div class="page-box score-box">
      <div class="page-head">
        <span>高中生发展与核心能力评测（ACC）</span>
        <span>核心能力评测（ACC）个人评价报告</span>
      </div>

      <div class="page-head-title">
        <p class="pd-num">03</p>
        <div class="pd-info pd-info-mid">
          <h1>考生在各难度水平题目上的作答情况分析</h1>
        </div>
      </div>

      <div class="sitem-cont">
        <div class="echart-box">
          <div class="ech-items ech-title"><p>难题<%:=items.hard.topicNum%>道题</p></div>
          <div class="ech-items ech-chart" id="hard-all"></div>
          <div class="ech-items ech-chart" id="hard-area"></div>
        </div>
        <div class="echart-box">
          <div class="ech-items ech-title"><p>中等难度题<%:=items.mid.topicNum%>道题</p></div>
          <div class="ech-items ech-chart" id="mid-all"></div>
          <div class="ech-items ech-chart" id="mid-area"></div>
        </div>
        <div class="echart-box">
          <div class="ech-items ech-title"><p>容易题<%:=items.easy.topicNum%>道题</p></div>
          <div class="ech-items ech-chart" id="easy-all"></div>
          <div class="ech-items ech-chart" id="easy-area"></div>
        </div>
        <div class="echart-box ech-tips">
          <div class="ech-items ech-title"></div>
          <div class="ech-items ech-chart">得分率</div>
          <div class="ech-items ech-chart">得分率</div>
        </div>
      </div>


      <div class="page-footer-tips">
        <span class="tips-name bg-title-64">备注</span>
        <div class="tips-detail">
          <p>难题：难度值在[0-0.3）之间；</p>
          <p>中等难度题：难度值在[0.3-0.7]之间；</p>
          <p>容易题：难度值在0.7以上；</p>
          <p>题目难易度是以考生平均得分率为指标，与参加本次测试的考生（以各重点校中上水平为主要群体）水平有关。因此，这里计算出来题目难度较小，并不代表在常规考生中该题也简单。</p>
        </div>
      </div>

      <div class="page-bot-num">03/3</div>

    </div>
  </script>
  <!-- category part five -->
  <script id="item-five" type="text/html">
    <div class="page-box score-box">
      <div class="page-head">
        <span>高中生发展与核心能力评测（ACC）</span>
        <span>核心能力评测（ACC）个人评价报告</span>
      </div>

      <div class="page-head-title">
        <p class="pd-num">04</p>
        <div class="pd-info pd-info-mid">
          <h1>考生错答题目难度情况分析</h1>
        </div>
      </div>

      <div class="sitem-cont">
        <div class="chart-err">
          <div class="chart-cont" id="err-point"></div>
          <div class="chart-intro">
            <p>
              <span>知识模块：</span>
              <% var points = items.point.tips %>
              <% for (var i = 0; i < points.length; i++) { %>
              <span><%:=points[i].name%>-<%:=points[i].cont%></span>
              <% } %>
            </p>
          </div>
        </div>
        <div class="chart-err">
          <div class="chart-cont" id="err-capa"></div>
          <div class="chart-intro">
            <p>
              <span>能力（素质）模块：</span>
              <% var capas = items.capa.tips %>
              <% for (var i = 0; i < capas.length; i++) { %>
              <span><%:=capas[i].name%>-<%:=capas[i].cont%>;</span>
              <%}%>
            </p>
          </div>
        </div>
      </div>


      <div class="page-footer-tips">
        <span class="tips-name bg-title-64">备注</span>
        <div class="tips-detail">
          <p>难题：难度值在[0-0.3）之间；</p>
          <p>中等难度题：难度值在[0.3-0.7]之间；</p>
          <p>容易题：难度值在0.7以上；</p>
          <p>题目难易度是以考生平均得分率为指标，与参加本次测试的考生（以各重点校中上水平为主要群体）水平有关。因此，这里计算出来题目难度较小，并不代表在常规考生中该题也简单。</p>
        </div>
      </div>

      <div class="page-bot-num">03/4</div>

    </div>
  </script>
  <!-- js -->
  <script src="/static/libs/require.min.js" data-main="/static/js/index" defer async="true"></script>

</body>
</html>
